* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  overflow: hidden;
}

.app {
  float: left;
}

#apps-background:after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 9999px;
  background-color: rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes slideshow {
    0% {
      left: -250px;
    }
    10% {
      left: -750px;
    }
    20% {
      left: -1250px;
    }
    30% {
      left: -1750px;
    }
    40% {
      left: -2250px;
    }
    50% {
      left: -2750px;
    }
    60% {
      left: -3250px;
    }
    70% {
      left: -3750px;
    }
    80% {
      left: -4250px;
    }
    90% {
      left: -4750px;
    }
    100% {
      left: -5250px;
    }
}

#apps-foreground {
  position: absolute;
  width: 9999px;
  height: 100%;
  left: 0;
  top: 50%;
  margin-top: -100px;
  margin-left: 50%;
  -webkit-animation: slideshow 30s ease-in-out infinite alternate;
}

.app.foreground {
  position: relative;
  color: #FFF;
  background-color: rgba(0,0,0,0.8);
  padding: 20px;
  margin: 30px;
  border-radius: 20px;
  min-height: 100px;
  width: 400px;
}

.app.foreground img {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -50px;
}

.app.foreground span {
  display: block;
  margin-left: 120px;
  margin-bottom: 5px;
}

.app.foreground .name {
  font-size: 20px;
  font-weight: bold;
}

.app.foreground .category {
  font-style: italic;
}
